@media only screen and (min-width:1024px){

        /* nav menu left side */
.navbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3rem 0;
    grid-column-start: 1;
    grid-column-end: 2;
    display: inline-block;
    opacity: 1;
   
}

.content {
    grid-column-start: 2;
    grid-column-end: 5;
}


#open,
    #close {
       display: none;
    }

.branding p {
    width: 80%;
}

/* nav menu */
.nav {
    padding: 3rem 0 3rem 3rem;
}




/* search box */


.search-box i {
    font-size: 1.8rem;
}

/* dribble work */

.dribble {
    padding: 1rem 0rem 0 3rem;

}



.d-item {

    margin: 1rem 2rem 1rem 0;
  
}


.social .social-icons a {

    margin-right: 1rem;

}



/* slider */





.slider-content h1 {
    font-size: 6rem;
    font-weight: 500;
}

.slider-content span {
    font-size: 3rem;

}

.slider-content .sub-head p {
    font-size: 2rem;
    width: 40vw;
    opacity: 0.6;
}

.items .item {
    height: 30vw;
}


.item .icons {
    font-size: 5rem;
 
}




.item .content h2 {
    font-size: 2rem;

}

.item .content p {
    font-size: 1.6rem;

}




/* our work */



/* bar menu  */


.menubar .bar {
    width: 4rem;
    height: 0.3rem;
    margin-top: 0.5rem;
}


/*all items */

.b-content {
    padding: 3rem;
    justify-content: space-around;
}
.items {
    grid-auto-rows: minmax(25vw, auto);
}

.b-content p {
    font-size: 2.2rem;
    
}

.post-info * {
    font-size: 1.8rem;

}
.post-content p {

    font-size: 1.8rem;
    line-height: 3rem;

}





/* blog items grid */
.blog-items-container {

    grid-auto-rows: minmax(30vw, auto);

}

.profile {
    flex-basis: 30vw;
    justify-content: flex-start;
}

.profile-img {
    width: 50%;
    
}
.about-member {
    width: 50%;
  }

  #contactUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(35vw, auto);
    margin: 0.5rem 0;
    
  }
  .map {
    background-color: #5077fb;
    /* display: none; */
  }
   /* ---------------------Map element */

   iframe {
    width: 100%;
   height: 100%;
  }
  .mapouter {
    position: relative;
    text-align: right;
   width: 100%;
   height: 100%;
    border: none;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
    border: none;
  }
  iframe {
    border: none;
    outline: none;
  }



















/* ------------------------------- */

  .frm {
    width: auto;
    height: auto;
    background-color: #5077fb;

  }










/* profile social icons */
.social-icons {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    display: flex;
    margin-bottom: 1rem;
}

.social-icons a {
    border: solid 0.1rem rgba(0, 0, 0, 0.199);
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    margin-right: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.social-icons a:hover {
    background-color: #5077fb;
    color: #fff;
    border-color: transparent;
    transition: all 0.2s ease;
}

.about-member h2 {
    font-size: 2rem;
}

.about-member p {
    width: 30vw;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    height: 25rem;
    overflow: hidden;
    opacity: 0.6;
}

.fullprofile {
    font-size: 1.8rem;
    font-family: 'Montserrat_Alternates', sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.8;

}

.fa-arrow-alt-circle-right {
    margin: 0 1rem;
    font-size: 2rem;
}

.fullprofile:hover {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.384);

}

/* Contact Us */
#contactUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(35vw, auto);
    margin: 0.5rem 0;
}

.map {
    background-color: #757559;
}

.frm {
    width: 100%;
    height: 100%;
    background-color: #5077fb;

}

.frm form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
}

form h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 1rem;
}

.frm input {
    width: 100%;
    height: 6rem;
    border: solid 0.2rem rgba(255, 255, 255, 0.301);
    margin: 1rem 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.8rem;
    padding: 0rem 2rem;
    font-weight: 400;
}

.frm input:focus {
    outline-color: #5077fb;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 255, 255, 0.459);
}

.frm input::placeholder {
    color: #fff;
}

.frm textarea {
    width: 100%;
    height: 12rem;
    background-color: transparent;
    border: solid 0.2rem rgba(255, 255, 255, 0.301);
    margin-top: 1rem;
    resize: none;
    font-size: 1.8rem;
    padding: 2rem;
    color: rgb(255, 255, 255);
}

.frm textarea:focus {
    outline-color: #5077fb;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 255, 255, 0.459);

}


.frm textarea::placeholder {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    opacity: 1;

}

.frm button {
    width: 10rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.116);
    border: none;
    outline: none;
    align-self: flex-end;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.frm button:hover {
    background-color: rgba(255, 255, 255, 0.705);
    color: #5077fb;
}

/* footer */
.footer {
    height: 10rem;
    background-color: #000000e1;
    margin: 0.5rem 0 0 0;
    display: grid;
    place-items: center;
}

.footer p {
    font-size: 1.6rem;
    color: #fff;
    text-transform: capitalize;
}

}









